body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #bf9931cc, #000000b7);
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
}